/* .prueba-grid{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 500px ;
    margin-top: 100px;
}

.prueba-grid h2{
    width: 300px;
    margin-left: 45%;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    font-size: 40px;
}

.prueba-grid p{
    margin-top: 30px;
    width: 400px;
    margin-left: 40%; 
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 18px;

} */

/* .foto-nosotros{
    width: 550px;
    height: 420px;
    margin-left: 82%;
}  */


.border{
    width: 230px;
    height: 5px;
    background: #f7dd48;
    margin-left: 6%;
}

.section-nosotros{
    padding: 6em 1em;
    /* margin-top: 70px; */
}

.section-nosotros img{
    border-radius: 6px;
    height: 110%;
    object-fit: cover;
    width: 150%;
}


.nosotros-grid{
    grid-gap: 2em;
    align-items: center;
    display: grid;
    gap: 2em;
    grid-template-columns: 60% 40%;
    margin: 80px;
    max-width: 900px;
    width: 90%;
}

.nosotros-info{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 88%;
}

.nosotros-info h2{
    text-transform: uppercase;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    font-size: 40px;
}

.nosotros-info p{
    text-align: start;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 18px;
}
